header#header.clear
    #hgroup
        h1
            a(href='/') EbooksForLearning.org
        h2 Ebooks for university courses

    nav
        if user
            ul
                li
                    a.header-date.span= moment(Date.now()).format('MMMM DD. YYYY')
                li
                    a.header-button.header-logout-button Log out
                li
                    a.header-button(href='/me')
                        span= user.firstName

                li
                    img.nav__user-img(src=`/images/users/${user.photo}` alt=`Photo of ${user.name}`)
        else
            ul
                li
                    a.header-date.span= moment(Date.now()).format('MMMM DD. YYYY')

                    a.button.header-button
                        span Help
                    if url==='/login'
                        a.button.header-button(href='/')
                            span Main
                    else
                        a.button.header-button(href='/login')
                            span Login



    //
    //        li.last
    //            a.nav__el(href='#')
    //                img.nav__user-img(src=`images/users/${user.photo}` alt=`Photo of ${user.firstName}`)
    //                //img.header.im(src=`/images/users/${user.photo}.jpg` alt=`Photo of user ${user.firstName}`)
    //                  span= user.firstName
    //
    //            //a(class='.header-button' href='/login' role='button')
    //
    //            //button.header-button
    //                span Login

